.fil-col {
    width: 100%;
    align-items: center;
}

.row{
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.div-button {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}